name: postgres-production-primary
services:
  primary-postgres:
    container_name: primary-postgres
    restart: always
    build:
      context: ../postgres-primary
    environment:
      - POSTGRES_PASSWORD=abcd123
      - PG_REPLICATOR_PASSWORD=replicatorPassword
    volumes:
      - db-wal:/db/wal
      - db-socket:/var/run/postgresql
    ports:
      - 5432:5432

  primary-postgres-backup:
    container_name: primary-postgres-backup
    restart: always
    build:
      context: ../pg-backup
    environment:
      - POSTGRES_PASSWORD=abcd123
    depends_on:
      - primary-postgres
    volumes:
      - db-wal:/db/wal
      - db-socket:/var/run/postgresql
      - backup-cache:/cache

volumes:
  db-wal:
    external: false
  db-socket:
    external: false
  backup-cache:
    external: false