name: postgres-primary
services:

  certbot:
    container_name: pg-cert-bot
    image: ghcr.io/social-mail/pg-ssl:latest 
    restart: always
    env_file:
      - ../var.env
    volumes:
      - ../certs:/etc/letsencrypt
    networks:
      - pg_network

  postgres:
    container_name: primary-postgres
    image: ghcr.io/social-mail/postgres-ha:latest
    restart: always
    env_file:
      - ../var.env
    volumes:
      - ../wal:/db/wal
      - db-socket:/var/run/postgresql
      - ../pgdata:/var/pgdata
      - ../certs:/etc/letsencrypt
    depends_on:
      - certbot
    ports:
      - 5432:5432
    networks:
      - pg_network

  # Usually we don't need to take backup of replica
  # But you can uncomment following to enable backup
  # Make sure you don't overwrite primary instance backups
  # You can change folder name as specified below

  # primary-postgres-backup:
  #   container_name: primary-postgres-backup
  #   restart: always
  #   image: ghcr.io/social-mail/pg-backup:latest
  #   depends_on:
  #     - postgres
  #   environment:
  #     - PG_BACKUP_STORAGE_S3_FOLDER=pg-2
  #   volumes:
  #     - db-socket:/var/run/postgresql
  #     - ../backups:/cache
  #   env_file:
  #     - ../var.env
  #   networks:
  #     - pg_network



volumes:
  db-socket:
    external: false

networks:
  pg_network:
    driver: bridge
